DATABASE_URL="file:./dev.db"
DEV_SMS_CODE="123456"
TENCENT_SECRET_ID=""
TENCENT_SECRET_KEY=""
TENCENT_SMS_APP_ID=""
TENCENT_SMS_SIGN_NAME=""
TENCENT_SMS_TEMPLATE_ID=""
TENCENT_SMS_REGION="ap-guangzhou"
INITIAL_ADMIN_PHONE="15875754338"
ARK_API_KEY=""
ARK_IMAGE_MODEL="doubao-seedream-5-0-260128"
ONLYOFFICE_URL="http://localhost:8080"
ONLYOFFICE_INTERNAL_URL="http://host.docker.internal:8080"
ONLYOFFICE_JWT_SECRET="replace-with-a-long-random-secret"
APP_BASE_URL="http://host.docker.internal:3000"
